@layer components {

	/* Body lock */

	:root:has(.is-menu-open) {
		overflow: hidden;
	}

	/* Mobile fixed menu  */


	.fixed-menu {
		@apply fixed bottom-0 left-0 right-0 flex items-center bg-white py-1.5 px-4 z-150 h-[51px] md:h-[62px];
	}

	.fixed-menu__link {
		@apply flex flex-col items-center grow text-base transition-colors cursor-pointer hover:text-accent transition-colors;
		&.is-active {
			@apply text-accent;
		}
	}

	.fixed-menu__link-text {
		@apply text-2xs mt-1 font-normal md:text-xs;
	}


	.fixed-menu__link-icon {
		@apply w-5 h-5 flex justify-center items-center relative md:w-6 md:h-6;
		svg {
			@apply w-full h-full;
		}
	}

	/* Mobile menu */

	.menu {
		@apply fixed left-0 right-0 top-0 z-50 bg-white w-full -translate-x-full transition-transform duration-300;
		height: calc(100svh - 51px);

		&.is-open {
			@apply translate-x-0;
		}
	}

	.menu__header {
		@apply flex justify-between items-center gap-3 pl-4;
	}

	.menu__close {
		@apply w-12 h-12 flex items-center justify-center cursor-pointer transition-colors hover:text-accent;
	}

	.menu__body {
		@apply overflow-y-auto overflow-x-hidden px-4 pt-1.25 pb-5;
		height: calc(100% - 48px)
	}

	/* Mobile menu list */

	.menu__nav {
		@apply gap-3.75 flex flex-col items-start;
		a {
			@apply leading-4.25 flex items-center gap-2;
		}
	}


	.menu__nav-icon {
		@apply w-5 h-5 relative flex items-center justify-center shrink-0;
	}

	.menu__login {
		@apply bg-[#e6f1f5] px-4 py-2.5 flex items-center gap-2.5 font-semibold text-dark;
		margin-left: -16px;
		width: calc(100% + 32px);
	}

	/* Category cards in mobile menu */

	.menu__category-card {
		@apply flex flex-col items-center border border-border rounded-[5px] py-1 px-1.25 bg-transparent cursor-pointer w-full h-full md:py-3;
	}

	.menu__category-img {
		@apply w-[83%];
		aspect-ratio: 1.3448/1;
		img {
			@apply w-full h-full object-cover;
		}
	}

	.menu__category-name {
		@apply text-center text-dark text-2xs leading-3 font-semibold mt-0.75 md:text-sm md:mt-2;
	}


	/* User navigation */

	.user-navigation {
		@apply flex items-center gap-1 md:gap-2;
	}

	.user-navigation__link {
		@apply min-w-6 h-6 flex items-center justify-center text-dark transition-colors hover:text-accent cursor-pointer bg-transparent lg:min-w-12 lg:h-12;
	}

	.user-navigation__icon {
		@apply relative flex items-center justify-center w-6 h-6 lg:w-8.25 lg:h-8.25;
		svg {
			@apply w-full h-full;
		}
	}

	.user-navigation__cart {
		@apply gap-2.5;
	}

	.user-navigation__price {
		@apply text-sm font-semibold text-dark whitespace-nowrap;
	}

	/* Account dropdown */

	.group:hover > .user-navigation__link,
	.group:focus-within > .user-navigation__link {
		@apply text-accent;
	}

	.account-dropdown {
		@apply absolute right-0 top-full pt-2 hidden z-50;
		.group:hover &,
		.group:focus-within & {
			@apply block;
		}
	}

	.account-dropdown__nav {
		@apply bg-white rounded-br-[5px] rounded-bl-[5px] py-3 px-2.5 flex flex-col shadow-dropdown;
	}

	.account-dropdown__link {
		@apply flex items-center gap-2.5 mb-3.5 last:mb-0 text-sm leading-4.25 text-dark transition-colors whitespace-nowrap hover:text-accent whitespace-nowrap;
	}

	/* Subcategory accordion */

	.menu__subcategory {
		margin-left: -16px;
		width: calc(100% + 32px);
	}

	.menu__subcategory-toggler {
		@apply flex items-center gap-2.5 w-full bg-transparent cursor-pointer py-2.5 pl-4 pr-5 text-dark font-semibold;
	}

	.menu__subcategory-img {
		@apply w-7 h-7 shrink-0;
		img {
			@apply w-full h-full object-cover;
		}
	}

	.menu__subcategory-title {
		@apply text-sm font-semibold text-dark leading-4.25 grow text-left transition-colors duration-300;
	}

	.menu__subcategory-arrow {
		@apply shrink-0 transition-all duration-300;
	}

	.menu__subcategory-toggler[aria-expanded="true"] .menu__subcategory-arrow {
		@apply rotate-180 text-accent; 
	}

	.menu__subcategory-toggler[aria-expanded="true"] .menu__subcategory-title {
		@apply text-accent;
	}

	[data-accordion-content]:not(.is-open) {
		@apply hidden;
	}

	.menu__subcategory-item {
		@apply border-b border-b-border;
	}

	.menu__subcategory-hidden {
		@apply px-4 pb-5;
	}

	.menu__subcategory-nav {
		@apply flex flex-col items-start gap-3.25 pl-9.5;
		a {
			@apply text-xs leading-3.75 md:text-sm;
		}
	}

	/* Search */

	.cities__choose-link {
		@apply text-xs leading-3.75 w-fit transition-colors hover:text-accent md:text-sm;
	}

	/* Count */

	.count {
		@apply absolute -bottom-0.5 -right-1 rounded-full bg-primary h-3 min-w-3 leading-0 text-white font-medium text-3xs flex items-center justify-center md:h-3.5 md:min-w-3.5 lg:h-4.5 lg:text-2xs lg:min-w-4.5;
	}

	/* Top bar */

	.top-nav {
		@apply lg:items-center lg:gap-7.5 lg:mx-auto; 
		a {
			@apply transition-colors hover:text-accent lg:relative;
			&:not(:first-child)::before {
				@apply content-[''] absolute w-0.25 h-3.5 bg-border top-1/2 -translate-y-1/2 -left-3.75;
			}
		}
	}

}