<section class="below-fold-section" aria-labelledby="faq-title">
	<div class="section-title pb-3.75 mb-5 lg:mb-10">
		<h2 class="h2" id="faq-title">FAQ</h2>
	</div>
	<ul class="accordion" data-accordion-group>
		<li>
			<button type="button" class="accordion__toggler" data-accordion-trigger aria-expanded="false">
				<span>Чи є оплата при отриманні?</span>
				<svg class="accordion__arrow" width="15" height="9" aria-hidden="true" stroke="currentColor"
					focusable="false" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.353515 0.353516L7.35352 7.35352L14.3535 0.353515" />
				</svg>
			</button>
			<div class="accordion__hidden" data-accordion-content>
				<div>
					<div class="accordion__hidden-inner">
						<p>Duis at luctus turpis. Suspendisse potenti. Phasellus laoreet orci sit amet finibus
							maximus. Fusce sem lectus, vulputate nec orci vitae, aliquet finibus ex. In finibus ante
							nec eros facilisis, tristique ornare libero tincidunt.</p>
					</div>
				</div>
			</div>
		</li>
		<li>
			<button type="button" class="accordion__toggler" data-accordion-trigger aria-expanded="false">
				<span>Яка гарантія на товар?</span>
				<svg class="accordion__arrow" width="15" height="9" aria-hidden="true" stroke="currentColor"
					focusable="false" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.353515 0.353516L7.35352 7.35352L14.3535 0.353515" />
				</svg>
			</button>
			<div class="accordion__hidden" data-accordion-content>
				<div>
					<div class="accordion__hidden-inner">
						<p>Duis at luctus turpis. Suspendisse potenti. Phasellus laoreet orci sit amet finibus
							maximus. Fusce sem lectus, vulputate nec orci vitae, aliquet finibus ex. In finibus ante
							nec eros facilisis, tristique ornare libero tincidunt.</p>
					</div>
				</div>
			</div>
		</li>
		<li>
			<button type="button" class="accordion__toggler" data-accordion-trigger aria-expanded="false">
				<span>Як здійснити повернення товару?</span>
				<svg class="accordion__arrow" width="15" height="9" aria-hidden="true" stroke="currentColor"
					focusable="false" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.353515 0.353516L7.35352 7.35352L14.3535 0.353515" />
				</svg>
			</button>
			<div class="accordion__hidden" data-accordion-content>
				<div>
					<div class="accordion__hidden-inner">
						<p>Duis at luctus turpis. Suspendisse potenti. Phasellus laoreet orci sit amet finibus
							maximus. Fusce sem lectus, vulputate nec orci vitae, aliquet finibus ex. In finibus ante
							nec eros facilisis, tristique ornare libero tincidunt.</p>
					</div>
				</div>
			</div>
		</li>
		<li>
			<button type="button" class="accordion__toggler" data-accordion-trigger aria-expanded="false">
				<span>Чи є оплата при отриманні?</span>
				<svg class="accordion__arrow" width="15" height="9" aria-hidden="true" stroke="currentColor"
					focusable="false" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.353515 0.353516L7.35352 7.35352L14.3535 0.353515" />
				</svg>
			</button>
			<div class="accordion__hidden" data-accordion-content>
				<div>
					<div class="accordion__hidden-inner">
						<p>Duis at luctus turpis. Suspendisse potenti. Phasellus laoreet orci sit amet finibus
							maximus. Fusce sem lectus, vulputate nec orci vitae, aliquet finibus ex. In finibus ante
							nec eros facilisis, tristique ornare libero tincidunt.</p>
					</div>
				</div>
			</div>
		</li>
	</ul>
</section>
