<div class="features">
	<div class="features__item">
		<div class="features__item-icon">
			<img src="/assets/icons/delivery.svg" alt="" role="presentation" width="42" height="42" loading="lazy" decoding="async">
		</div>
		<div class="features__item-content">
			<div class="features__item-title">Доставка по Україні</div>
			<p>Отправляємо замовлення щодня отримайте товар вже за 1–2 дні.</p>
		</div>
	</div>
	<div class="features__item">
		<div class="features__item-icon">
			<img src="/assets/icons/pay.svg" alt="" role="presentation" width="42" height="42" loading="lazy" decoding="async">
		</div>
		<div class="features__item-content">
			<div class="features__item-title">Зручна оплата</div>
			<p>Оплата карткою, післяплатою або онлайн — як вам комфортно.</p>
		</div>
	</div>
	<div class="features__item">
		<div class="features__item-icon">
			<img src="/assets/icons/good.svg" alt="" role="presentation" width="42" height="42" loading="lazy" decoding="async">
		</div>
		<div class="features__item-content">
			<div class="features__item-title">Перевірені товари</div>
			<p>Продаємо лише якісну техніку та аксесуари з гарантією.</p>
		</div>
	</div>
	<div class="features__item">
		<div class="features__item-icon">
			<img src="/assets/icons/consult.svg" alt="" role="presentation" width="42" height="42" loading="lazy" decoding="async">
		</div>
		<div class="features__item-content">
			<div class="features__item-title">Підтримка та консультація</div>
			<p>Допоможемо підібрати товар і відповімо на всі питання.</p>
		</div>
	</div>
</div>