<section class="hero">
	<div class="hero__slider swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="container">
					<div class="hero__item">
						<div class="section-label mb-4 xl:mb-2.5">Для дому</div>
						<h1 class="h2 mb-6 xl:mb-5">Все для сучасного будинку</h1>
						<p class="mb-5 xl:mb-7.5">Освітлення та корисні дрібниці для щоденного комфорту</p>
						<a href="#" class="btn btn--orange">Обрати зараз</a>
						<picture>
							<source type="image/webp" srcset="/assets/images/hero-img-1.webp">
							<img src="/assets/images/hero-img-1.png" width="328" height="218" alt="Смартфон XPro 15"
								fetchpriority="high">
						</picture>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="container">
					<div class="hero__item">
						<div class="section-label mb-4 xl:mb-2.5">Для дому</div>
						<h2 class="h2 mb-6 xl:mb-5">Все для сучасного будинку</h2>
						<p class="mb-5 xl:mb-7.5">Освітлення та корисні дрібниці для щоденного комфорту</p>
						<a href="#" class="btn btn--orange">Обрати зараз</a>
						<picture>
							<source type="image/webp" srcset="/assets/images/hero-img-1.webp">
							<img src="/assets/images/hero-img-1.png" width="328" height="218" alt="Смартфон XPro 15"
								loading="lazy" decoding="async">
						</picture>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="container">
					<div class="hero__item">
						<div class="section-label mb-4 xl:mb-2.5">Для дому</div>
						<h2 class="h2 mb-6 xl:mb-5">Все для сучасного будинку</h2>
						<p class="mb-5 xl:mb-7.5">Освітлення та корисні дрібниці для щоденного комфорту</p>
						<a href="#" class="btn btn--orange">Обрати зараз</a>
						<picture>
							<source type="image/webp" srcset="/assets/images/hero-img-1.webp">
							<img src="/assets/images/hero-img-1.png" width="328" height="218" alt="Смартфон XPro 15"
								loading="lazy" decoding="async">
						</picture>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper__pagination hero__pagination"></div>
		<button type="button" class="hero__arrow hero__prev" aria-label="Попередній слайд">
			<svg width="26" height="49" aria-hidden="true" focusable="false" stroke="currentColor" viewBox="0 0 26 49"
				fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M24.707 0.353516L0.707031 24.3535L24.707 48.3535" />
			</svg>
		</button>
		<button type="button" class="hero__arrow hero__next" aria-label="Наступний слайд">
			<svg width="26" height="49" aria-hidden="true" focusable="false" stroke="currentColor" viewBox="0 0 26 49"
				fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.353516 48.3535L24.3535 24.3535L0.35352 0.353514" />
			</svg>
		</button>
	</div>
</section>